.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.appHeader{
  text-align: center;
}

.fixedBar, .counterBar, .formBar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 2px solid green;
  padding: 40px;
  margin: 20px;
}